.section {
   height: calc(100vh - 125.58px);
}

.firstSection {
   background-image: url(../../assets/register.png);
   background-repeat: no-repeat;
   height: 100%;
   background-size: contain;
}

.subTxtColor {
   color: #ADB6CF;
}

.inputField {
   border: 1px solid #ADB6CF;
   border-radius: 5px;
   width: 100%;
   height: 40px;
   border-color: #ADB6CF;
   border-width: 1px;
   box-sizing: border-box;
   padding: 0px 15px;
}

.inputField:focus {
   outline: none;
}

.submitBtn {
   background-color: #000000;
   color: #ffffff;
   border-radius: 5px;
   width: 100%;
   height: 40px;
   margin: 10px 0;
   cursor: pointer;
}