.context {
   height: calc(100vh - 125.58px);
}
.subtext {
   color: #A2A1A7;
}

.btn {
   background-color: #000;
   color: #fff;
   font-weight: 500;
}

.electionBg {
   background-image: url(../../assets/election.png);
   background-repeat: no-repeat;
   height: 100%;
}